@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Jersey+15&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
body *{box-sizing: border-box;

}
.main-login{
    width: 100vw; /*vh o tamanho da sua view port*/
    height: 100vh;
    background: linear-gradient(to left, #6c278ade 0%, #170239 100%);
    display: flex  ;/*organiza os conteudos dentro das div*/
    justify-content: center;  /*centraliza as coisas no eixo x*/
    align-items: center;  /*centraliza as coisas no eixo y*/
}

.left-login{
    width: -50vw;
    height: -100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*colocar coisas uma embaixo da outra*/
}
.left-login > h1{
    text-shadow: 0px 10px 40px #030006;
    font-size: 3vw;
    color: #f7cef7de;
}
.left-login-image{
    width: 20vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
    width: 60%; /*% ele pega o tamanho da div que o card-login*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px; /*padding são margens que são dentro do componente*/
    background: rgb(108, 66, 109);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
    color: #f7cef7de;
    font-weight: 800; /*O peso da fonte*/
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column; /*inverte os eixos*/
    align-items: flex-start ; /*passa a ser o eixo x*/
    justify-content: center; /*passa a ser o eixo y*/
    margin: 10px 0;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #170239;
    color:  #f7cef7de;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #030006;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #f7cef7de;
    margin-bottom: 10px;  /*margin para baixo*/
}

.textfield >input::placeholder{
    color: #f7cef7de;
}
.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color:  #f7cef7de;
    background: #170239;
    cursor: pointer;
    box-shadow: 0px 10px 40px #030006;
}
.grupos a{
    color:  #f7cef7de;
    font-size: 13pt;
    font-weight: 800;
}

/*enquanto for uma largura de 950 add os elementos abaixo*/
@media only screen and (max-width:950px){  
    .card-login{
        width: 85%;
    }
}
/*Para lelas menores*/
@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: -100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 25vw;
    }
    .card-login{
        width: 90%;
    }
}

